.main-head {
    background-image: url("../images/head-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 300px;
}
.main-head p {
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
}
.section-bg {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
hr {
    background-color: #343a40 !important;
    height: 1px;
}
.sub-head {
    padding-top: 10px;
    margin-bottom: 8px;
    font-size: 1.7em;
    line-height: 35px;
}
.sub-underline {
    height: 4px;
    width: 60px;
    background-color: #343a40;
}
.text {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #343a40;
    font-size: 18px;
    text-align: left;
}
.prod-name {
    text-transform: uppercase;
    font-size: 19px;
}
.slideshow1 {
    width: 90%;
}
img:not(.prof-img) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#text2 {
    margin-top: 50px;
}
.date {
    font-size: smaller;
}

.village-name {
    width: 13%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fed136;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: 0.3s;
}
.village-name:hover {
    transform: translateY(-4px);
}
.reason-cards {
    height: 160px;
    background-color: #343a40;
    padding: 5px 10px;
    margin: 4px;
    line-height: 160px;
    text-align: center;
    font-size: smaller;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    color: white;
}
.reason-cards p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
.counter-cards {
    text-align: center;
    font-size: small;
    padding: 5px 10px 10px;
    background-color: #fed136;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: 0.3s;
}
.counter-cards:hover {
    transform: translateY(-3px);
}
.counter-cards .counter {
    font-size: 30px;
    font-weight: bold;
}
.z-counter {
    font-size: 30px;
    font-weight: bold;
}
.zomato-cards {
    font-size: small;
    background-color: #fed136;
    padding: 15px;
    margin: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.prof-card {
    width: 100%;
    background-color: #343a40;
    padding: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 0;
    color: white;
}
.prof-img {
    width: 100%;
    height: 280px;
}
.prof-name {
    text-transform: uppercase;
    font-size: small;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .main-head {
        line-height: 200px;
        height: 200px;
        font-size: 35px;
    }
    .village-name {
        width: 45%;
    }
    #text2 {
        margin-top: 0px;
    }
    #img-hide {
        display: none;
    }
    #table-prod {
        margin: 10px;
    }
}

.overlay {
    position: absolute;
    top: 10px;
    left: 5%;
    height: calc(100% - 20px);
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.9);
}
.prof-card:hover .overlay {
    opacity: 1;
}
.overlay2 {
    position: absolute;
    top: 0;
    left: 5%;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.9);
}
.prof-card:hover .overlay2 {
    opacity: 1;
}
@media (max-width: 600px) {
    .overlay, .overlay2 {
        left: 3%;
	    width: 94%;
    }
}
@media (min-width: 768px) {
    .overlay2 {
        top: 4%;
        height: 92%;
    }
}
.overlay-text {
    color: white;
    position: absolute;
    top: 40%;
    /* left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    text-align: center;
    width: 100%;
}
.black-strip {
    background-color: black;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.social-icon {
    height: 40px;
    width: 40px;
    margin: 3px;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    color: white;
}
.social-icon:hover {
    color: #18d26e !important;
}
.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
        touch-action: auto;
}
.carousel{
	width: 100%;
}
.glyphicon{
	font-size: 40px;
	font-weight: 900;
	color: #18d26e;
	top: 40%;
/*
	background: white;
*/
}

.glyphicon-menu-right{
	display: inline;
	margin: 0 auto;
}

.carousel-control{
	background: white;
}

.carousel-indicators li{
	background-color: #02b856;
	opacity: 0.5;
}

.carousel-indicators .active{
	background-color: #02b856;
	opacity: 1;
}

.carousel-indicators{
	position: absolute;
	bottom: 0;
	top: 100%;
}
