doctype html
  meta(charset='utf-8')
  title Light
  meta(content='width=device-width, initial-scale=1.0', name='viewport')
  meta(content='', name='keywords')
  meta(content='', name='description')
  // Favicons
  link(href='img/favicon.png', rel='icon')
  link(href='img/apple-touch-icon.png', rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700', rel='stylesheet')
  // Bootstrap CSS File
  link(href='lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  // Libraries CSS Files
  link(href='lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
  link(href='lib/animate/animate.min.css', rel='stylesheet')
  link(href='lib/ionicons/css/ionicons.min.css', rel='stylesheet')
  link(href='lib/owlcarousel/assets/owl.carousel.min.css', rel='stylesheet')
  link(href='lib/lightbox/css/lightbox.min.css', rel='stylesheet')
  // Main Stylesheet File
  link(href='css/style.css', rel='stylesheet')
header#header.header-scrolled
  .container-fluid
    #logo.pull-left
      h1
        a.scrollto(href='#intro') LIGHT
    nav#nav-menu-container
      ul.nav-menu
        li.menu-active
          a(href='#intro') Home
        li
          a(href='about.html') About Us
        li
          a(href='center.html') Centers
        li
          a(href='#portfolio') Our Motto
        li
          a(href='networkpage.html') Our Network
        li
          a(href='members.html') Members
        li.menu-has-children
          a(href='') Drop Down
          ul
            li
              a(href='#') Drop Down 1
            li
              a(href='#') Drop Down 3
            li
              a(href='#') Drop Down 4
            li
              a(href='#') Drop Down 5
        li
          a(href='#contact') Support Us
    // #nav-menu-container



     block content


     html
       head
       body
         footer#footer
           .footer-top
             .container
               .row.justify-content-center
                 .col-lg-4.col-md-6.footer-info
                   h3 LIGHT
                   p
                     | LIGHT is an initiative of one of India's largest student-run government registered NGO Gopali Youth Welfare Society, based in IIT Kharagpur. Gopali Youth Welfare Society aims at the overall socio-economic development of the underprivileged near the IIT Kharagpur campus.
                 .col-lg-4.col-md-6.footer-links
                   h4 Useful Links
                   ul
                     li
                       i.ion-ios-arrow-right
                       a(href='#') Home
                     li
                       i.ion-ios-arrow-right
                       a(href='#') About us
                     li
                       i.ion-ios-arrow-right
                       a(href='#') Our Network
                     li
                       i.ion-ios-arrow-right
                       a(href='#') Support Us
                     li
                       i.ion-ios-arrow-right
                       a(href='#') Centers
                 .col-lg-4.col-md-6.footer-contact
                   h4 Contact Us
                   p
                     | Gopali (No-shooting Area),
                     br
                     |               P.O. – Salua, Dist. – Paschim Medinipur,
                     br
                     |               West Bengal, Pin-721145.
                     br
                     strong
                       | Phone:
                       a(href='tel:+917566782230') +91 756-678-2230
                     br
                     strong
                       | Email:
                       a(href='light.gyws@gmail.com') light.gyws@gmail.com
                     br
                   .social-links
                     a.twitter(href='#')
                       i.fa.fa-twitter
                     a.facebook(href='#')
                       i.fa.fa-facebook
                     a.instagram(href='#')
                       i.fa.fa-instagram
                     a.google-plus(href='#')
                       i.fa.fa-google-plus
                     a.linkedin(href='#')
                       i.fa.fa-linkedin
           .container
             .copyright
               | © Copyright
               strong LIGHT - GYWS
               | . All Rights Reserved
         // #footer
         a.back-to-top(href='#')
           i.fa.fa-chevron-up
         // Uncomment below i you want to use a preloader
         // <div id="preloader"></div>
         // JavaScript Libraries
         script(src='lib/jquery/jquery.min.js')
         script(src='lib/jquery/jquery-migrate.min.js')
         script(src='lib/bootstrap/js/bootstrap.bundle.min.js')
         script(src='lib/easing/easing.min.js')
         script(src='lib/superfish/hoverIntent.js')
         script(src='lib/superfish/superfish.min.js')
         script(src='lib/wow/wow.min.js')
         script(src='lib/waypoints/waypoints.min.js')
         script(src='lib/counterup/counterup.min.js')
         script(src='lib/owlcarousel/owl.carousel.min.js')
         script(src='lib/isotope/isotope.pkgd.min.js')
         script(src='lib/lightbox/js/lightbox.min.js')
         script(src='lib/touchSwipe/jquery.touchSwipe.min.js')
         // Contact Form JavaScript File
         script(src='contactform/contactform.js')
         // Template Main Javascript File
         script(src='js/main.js')
         script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
         script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js')
         script(src='networkJS/jquery.counterup.min.js')
         script(src='js/centermain.js', type='text/javascript')
         script(src='js/index.js', type='text/javascript')
